extends layout

block content
  .w3-container
    h1 Premios Nobel
    .w3-container.w3-teal
      ul.w3-ul
        li
          a(href="http://localhost:3000/premios") Lista de Todos os Prémios
        li
          a(href="http://localhost:3000/premios/categorias")  Lista das Diferentes Categorias
        li
          a(href="http://localhost:3000/premios/laureados")  Lista dos Laureados (Alfabeticamente Ordenados)
        